name: Tests CI

on:
  push:
    branches: 
      - main
      - 193/refactor/aumentar-a-cobertura-dos-testes-unit치rios
  pull_request:
    branches: 
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      CELERY_BROKER_URL: redis://redis:6379/0
      PYTHONPATH: ${{ github.workspace }}/API  # Caminho para o diret칩rio API
      DJANGO_SETTINGS_MODULE: AcheiUnB.settings  # Ajustado para o m칩dulo correto
      DB_HOST: db  # Importante: aqui referenciamos o servi칞o do docker-compose
      DB_PORT: 5432
      DB_NAME: ${{ secrets.DB_NAME }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME }}
      CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
      CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Docker Compose  # 游 Adicionamos este passo
        run: sudo apt-get update && sudo apt-get install -y docker-compose

      - name: Set up Docker Compose
        run: docker-compose -f API/docker-compose.yml up -d  # Inicia os servi칞os do Docker em segundo plano

      - name: Wait for services to be ready
        run: sleep 10  # D치 tempo para o banco de dados e o Redis inicializarem

      - name: Run migrations
        run: docker-compose -f API/docker-compose.yml exec web python manage.py migrate

      - name: Run tests with coverage
        run: docker-compose -f API/docker-compose.yml exec web coverage run -m pytest

      - name: Generate coverage report
        run: docker-compose -f API/docker-compose.yml exec web coverage report -m

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
